.slideshow-container{
  background-image: url(assets/rivalsBG.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.navbarlogo{
  height: 14vh; 
}

.btn{
  border: 1px solid black ;
  background-color: white;
  color: black;
  font-size: 100%;
  font-weight: bold;
}

.btn:hover{
  border: 1px solid white ;
  background-color: black;
  color: white;
  font-size: 100%;

}
.p-3{
  border-top: 2px solid black;
}
.navbar-nav{
  background-color: white;
}

@media screen and (max-width: 480px) {
  .navbarlogo{
      height: 7vh; 
  } 
}

.my-div{
  background-color: black;
  border-radius: 50px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;

}
.my-div h3{
  font-size: medium;
}



 /* Default styles for all slides */
 .mySlides {
  width: 100%;
}
.sliderimg {
  width: 100%;
  height: auto;
}

/* Media query for small devices */
@media only screen and (max-width: 768px) {
  .pc-slide {
    visibility:hidden;
    display: none; /* Hide PC slides on small devices */
  }
}

@media only screen and (min-width: 768px) {
  .mobile-slide {
    visibility:hidden;
    display: none; /* Hide PC slides on small devices */
  }
}

